body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; */
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1em;
}

.article-title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.article-container {
  padding-top: 20px;
  max-width: 650px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.v-spacer {
  height: 30px;
  display: block;
}

.v-spacer-big {
  height: 60px;
  display: block;
}

.margin-top-15 {
  margin-top: 15px;
}

.container {
  max-width: 850px;
  /* margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column; */
}

.App-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.App-col {
  flex: 1;
}

.logo {
  margin-top: 15px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.top-bar {
  padding: 0;
  margin-left: 25px;
}

.top-link-wrapper {
  margin-top: 15px;
  line-height: 30px;
  margin-bottom: 15px;
  padding: 0;
  flex: 1;
}

.top-link {
  font-weight: bold;
  display: block;
  position: relative;
  text-decoration: underline;
  overflow: hidden;
  color: black;
  font-size: 17px;
}

.top-link:hover {
  opacity: 0.4;
  color: black;
}

.App-signup-button {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  text-decoration: none;
  color: white;
  font-weight: bold;
  float: right;
  margin-top: 15px;
}

.App-signup-button:hover {
  background-color: #555;
  color: white;
}

.App-waitlist-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: black;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
}

.App-waitlist-button:hover {
  background-color: #555;
  color: white;
}

.App-demo-video {
  width: 100%;
  max-width: 600px;
  height: auto;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: thin solid lightgrey;
  border-radius: 10px;
}

.App-dynamic-image {
  align-self: flex-start;
  width: 100%;
  max-width: 600px;
  /* padding: 10px; */
  border: thin solid lightgrey;
  border-radius: 10px;
}

.padding-20 {
  padding: 20px;
}
