body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.preview {
  flex: 1;
}

.editor {
  flex: 1;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  overflow: scroll;
  height: 100%;
}

.title-input {
  font-size: 35px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
}

.add-endpoint-button {
  border: thin solid lightgrey;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

.add-endpoint-button-text {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: -8px;
}

.add-endpoint-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.editor-row {
  flex: 1;
  margin-bottom: 10px;
}

.editor-endpoint {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.editor-input {
  flex: 1;
  border-radius: 5px;
  padding: 6px;
  font-size: 18px;
  border: thin solid lightgrey;
  outline: none;
}

.editor-input:focus {
  outline: thin solid grey;
}

.editor-remove-button {
  padding: 4px;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  margin: 4px;
  text-decoration: none;
  font-weight: bold;
  color: grey;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

.editor-remove-button:hover {
  background-color: #eee;
}

.editor-drag-bar {
  height: 22px;
  align-self: center;
}

.editor-remove-icon {
  height: 20px;
  align-self: center;
  position: relative;
  top: -1px;
}
