body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.editor-container {
  flex: 1;
  border-right: 1px solid lightgrey;
  overflow: scroll;
  padding: 15px;
  position: relative;
}

.preview-container {
  overflow: scroll;
  flex: 1;
}

.preview-iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.editor-title {
  margin-top: 0px;
  font-size: 30px;
}

.editor-endpoint {
  margin-top: 0px;
  font-size: 20px;
}

.regen-button {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #267dff;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-weight: bold;
  z-index: 10;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
}

.regen-button:hover {
  background-color: #1a55ad;
  cursor: pointer;
}

.regen-button:active {
  background-color: #134085;
}

.regen-button-text {
  flex: 1;
  align-self: center;
  line-height: 1.5em;
  font-size: 20px;
}

.regen-button-icon {
  align-self: center;
  margin-left: 3px;
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.show-login-button {
  position: absolute;
  left: 5px;
  bottom: 5px;
}