body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.App-preview {
  flex: 1;
}

.App-editor {
  flex: 1;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  overflow: scroll;
  height: 100%;
}

.App-title-input {
  font-size: 35px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px;
}

.FieldComponent-container {
  padding-left: 10px;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.FieldComponent-input {
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  border-left: thin solid lightgrey;
  flex: 1;
  flex-direction: row;
  line-height: 1.5em;
}

.FieldComponent-line-number {
  font-family: monospace;
  color: grey;
  font-size: 17px;
  padding-right: 10px;
  width: 20px;
  text-align: center;
  position: relative;
  align-self: center;
}

.EndpointComponent-container {
  padding: 10px;
  margin: 5px;
  /* border: thin solid lightgrey; */
  border-radius: 10px;
  position: relative;
}

.EndpointComponent-title {
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 9px;
}

.EndpointComponent-method {
  position: absolute;
  right: 5px;
  top: 5px;
}

.App-add-endpoint-button {
  border: thin solid lightgrey;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

.App-add-endpoint-button-text {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: -8px;
}


.App-add-endpoint-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.App-editor-row {
  flex: 1;
  padding-bottom: 5px;
}

.EndpointComponent-delete-button {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: 4px;
  top: 4px;
}

.EndpointComponent-delete-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.EndpointComponent-delete-button-text {
  font-size: 20px;
  position: relative;
  top: -6px;
}
